body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #d0e8b6;
}
.background {
  background-image: url("./Icon/paper.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
}
